body {
  font-family: Montserrat, sans-serif;
  --bs-font-sans-serif: Montserrat, Roboto, sans-serif;
  background-color: rgba(0, 96, 100, 0.08);
}

a {
  text-decoration: none;
}

input.form-control:focus,
input[type='text']:focus,
input[type='password']:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Scrollbar */
Body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

Body::-webkit-scrollbar-track {
  background-color: rgba(0, 96, 100, 0.08);
}

Body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #006064, #26c6da);
}

table.dataTable {
  border-collapse: collapse !important;
  margin-top: 0px !important;
}

/* Table */
.custom-table {
  font-weight: 600;
  background-color: #fff;
  /*
   tbody .td-bg {
    background-color: #fff;
  } 
  */
}

.custom-table tr {
  border-top: 1px solid #006064 !important;
  border-bottom: 1px solid #006064 !important;
  border-left: 1px solid #006064;
  border-right: 1px solid #006064;
}

.custom-table th {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #006064;
  color: #fff;
  border-top: 1px solid #006064 !important;
  border-bottom: 1px solid #006064 !important;
  border-left: 1x solid #e0f7fa;
  border-right: 1px solid #e0f7fa;
}

.custom-table th:first-child {
  border-left: 1px solid #006064;
}

.custom-table th:nth-last-child(1) {
  border-right: 1px solid #006064;
}

.custom-table td {
  border-left: 0.5px solid #006064;
  border-right: 0.5px solid #006064;
  border-top: none !important;
  vertical-align: middle;
}

.custom-table :not(:last-child) > :last-child > * {
  border-bottom-color: #006064;
}

.custom-table tr.group,
.custom-table tr.group:hover {
  background-color: #e0f7fa;
  font-weight: bold;
  color: #006064;
  border-top: 1px solid #006064 !important;
  border-bottom: 1px solid #006064 !important;
  border-left: 1px solid #006064;
  border-right: 1px solid #006064;
}

.custom-table .group .bg-danger {
  font-size: 16px;
  -webkit-box-shadow: 0px 2px 0px 0px #842029;
          box-shadow: 0px 2px 0px 0px #842029;
}

.custom-table tfoot tr {
  background-color: #f9f9f9;
}

.custom-table td.dataTables_empty {
  height: 10rem;
  vertical-align: middle;
  font-size: 1.75rem;
  background-color: #fff;
}

.source-link {
  color: #006064 !important;
  text-decoration: none;
}

.source-link:hover {
  text-decoration: underline;
}

.status-no {
  display: none;
  /*
  opacity: 0.75;
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -khtml-user-select: none; // Konqueror HTML
  -moz-user-select: none; // Old versions of Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
  */
}

.status-exhausted {
  color: #842029;
  background-color: #f8d7da;
}

.age-group {
  color: #664d03;
  background-color: #fff3cd;
}

.custom-date {
  border-bottom: 2px solid #dc3545;
}

.centers-functional-status .centers-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.centers-functional-status .centers-details .centers-details-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.centers-functional-status .centers-details .centers-details-item .bdg-yellow {
  background-color: #fcc100;
  color: #664d03;
}

.centers-functional-status .centers-details .centers-details-item .bdg-blue {
  background-color: #0d6efd;
  color: #fff;
}

.centers-functional-status .centers-details .centers-details-item .bdg-gray {
  background-color: #6c757d;
  color: white;
}

.centers-functional-status .centers-details .centers-details-item .bdg-green {
  background-color: #006064;
  color: white;
}

.centers-functional-status .centers-details .centers-details-item a {
  text-decoration: none;
  color: #006064;
  font-weight: bold;
}

.centers-functional-status .centers-details .centers-details-item a:hover {
  color: #212529;
}

.centers-functional-status .centers-details .centers-details-item .link-secondary {
  color: #6c757d;
}

/* Search Input */
.search-class .form-control {
  border: 0;
}

.search-class #search-area {
  width: 100%;
  clear: both;
}

.search-class #search-area input {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px 15px 20px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  -webkit-box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.search-class #search-area input:focus {
  border: 0;
  outline: 0;
  padding: 15px 20px 15px 20px;
  -webkit-box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.075);
          box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.075);
  border-bottom: 2px solid #006064;
}

.search-class #search-area label {
  display: initial;
}

.table-footer .nav a {
  color: #006064;
  border-radius: 0;
}

.table-footer .nav a:hover {
  background-color: #006064;
  color: #fff;
}
/*# sourceMappingURL=stylesheet.css.map */