body {
  font-family: Montserrat, sans-serif;
  --bs-font-sans-serif: Montserrat, Roboto, sans-serif;
  background-color: rgba(#006064, 0.08);
}

input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: none;
}

/* Scrollbar */

Body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

Body::-webkit-scrollbar-track {
  background-color: rgba(#006064, 0.08);
}

Body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #006064, #26c6da);
}

table.dataTable {
  border-collapse: collapse !important;
  margin-top: 0px !important;
}

/* Table */

.custom-table {
  font-weight: 600;
  background-color: #fff;

  tr {
    border-top: 1px solid #006064 !important;
    border-bottom: 1px solid #006064 !important;
    border-left: 1px solid #006064;
    border-right: 1px solid #006064;
  }

  th {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #006064;
    color: #fff;
    border-top: 1px solid #006064 !important;
    border-bottom: 1px solid #006064 !important;
    border-left: 1x solid #e0f7fa;
    border-right: 1px solid #e0f7fa;
  }
  th:first-child {
    border-left: 1px solid #006064;
  }
  th:nth-last-child(1) {
    border-right: 1px solid #006064;
  }

  td {
    border-left: 0.5px solid #006064;
    border-right: 0.5px solid #006064;
    border-top: none !important;
  }

  :not(:last-child) > :last-child > * {
    border-bottom-color: #006064;
  }

  tr.group,
  tr.group:hover {
    background-color: #e0f7fa;
    font-weight: bold;
    color: #006064;
    border-top: 1px solid #006064 !important;
    border-bottom: 1px solid #006064 !important;
    border-left: 1px solid #006064;
    border-right: 1px solid #006064;
  }

  .group .bg-danger {
    font-size: 16px;
  }

  tfoot tr {
    background-color: #f9f9f9;
  }

  /*
   tbody .td-bg {
    background-color: #fff;
  } 
  */

  td.dataTables_empty {
    height: 10rem;
    vertical-align: middle;
    font-size: 1.75rem;
    background-color: #fff;
  }
}

.source-link {
  color: #006064 !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.status-no {
  display: none;
  /*
  opacity: 0.75;
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -khtml-user-select: none; // Konqueror HTML
  -moz-user-select: none; // Old versions of Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
  */
}

.status-exhausted {
  background-color: #fff5dd;
}

.custom-date {
  border-bottom: 2px solid #dc3545;
}

/* Search Input */
.search-class {
  .form-control {
    border: 0;
  }
  #search-area {
    width: 100%;
    clear: both;
  }
  #search-area input {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px 15px 20px;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    box-shadow: 0px 0.125rem 0.25rem rgba(#000, 0.075);

    &:focus {
      border: 0;
      outline: 0;
      padding: 15px 20px 15px 20px;
      box-shadow: 0px 0.5rem 1rem rgba(#000, 0.075);
      border-bottom: 2px solid #006064;
    }
  }

  #search-area label {
    display: initial;
  }
}

.table-footer {
  .nav {
    a {
      color: #006064;

      border-radius: 0;
      &:hover {
        background-color: #006064;
        color: #fff;
      }
    }
  }
}
