
body {
  font-family: Montserrat, sans-serif;
  --bs-font-sans-serif: Montserrat, Roboto, sans-serif;
}

/* Scrollbar */

Body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

Body::-webkit-scrollbar-track {
  background-color: rgba(#006064, 0.08);
}

Body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #006064, #26c6da);
}

table.dataTable {
  border-collapse: collapse !important;
  margin-top: 0px !important;
}

/* Table */

.custom-table {
  tr {
    border-top: 1px solid #006064 !important;
    border-bottom: 1px solid #006064 !important;
    border-left: 1px solid #006064;
    border-right: 1px solid #006064;
  }

  th {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #006064;
    color: #fff;
    border-top: 1px solid #006064 !important;
    border-bottom: 1px solid #006064 !important;
    border-left: 1x solid #e0f7fa;
    border-right: 1px solid #e0f7fa;
  }
  th:first-child {
    border-left: 1px solid #006064;
  }
  th:nth-last-child(1) {
    border-right: 1px solid #006064;
  }

  td {
    border-left: 0.5px solid #006064;
    border-right: 0.5px solid #006064;
    border-top: none !important;
  }

  :not(:last-child) > :last-child > * {
    border-bottom-color: #006064;
  }

  tr.group,
  tr.group:hover {
    background-color: #e0f7fa;
    font-weight: bold;
    color: #006064;
    border-top: 1px solid #006064 !important;
    border-bottom: 1px solid #006064 !important;
    border-left: 1px solid #006064;
    border-right: 1px solid #006064;
  }

  .group .bg-danger {
    font-size: 15px;
  }
  
  tfoot tr{
    background-color: #f9f9f9;
  }
}

.source-link {
  color: #006064 !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  
}

.available-no {
  display: none;
  /*
  opacity: 0.75;
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -khtml-user-select: none; // Konqueror HTML
  -moz-user-select: none; // Old versions of Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
  */
}

.custom-date {
  border-bottom: 2px solid #dc3545;
}
